version: 2.1

orbs:
  silta: silta/silta@0.1

jobs:
  build-and-test:
    docker:
      - image: cimg/node:16.12.0-browsers

    steps:
      - checkout
      - run:
          name: Install Dependencies
          command: npm ci
      - run:
          name: ESLint
          command: npm run lint:es
      - run:
          name: Stylelint
          command: npm run lint:style
      - run:
          name: Build
          command: npm run build
      - run:
          name: Start the application
          command: npm run test

workflows:
  version: 2
  commit:
    jobs:
      - build-and-test
      - silta/frontend-build-deploy: &build-deploy
          name: Silta build & deploy
          context: silta_dev
          codebase-build:
            - silta/npm-install-build
          filters:
            branches:
              ignore: production

      - silta/frontend-build-deploy:
          # Extend the build-deploy configuration for the production environment.
          <<: *build-deploy
          name: Silta build & deploy production
          context: silta_finland
          silta_config: silta/silta.yml,silta/silta-prod.yml
          filters:
            branches:
              only: production
